@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/Raleway/Raleway-Light.ttf");
}
@font-face {
  font-family: "RalewayMedium";
  src: url("../fonts/Raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: "InterMedium";
  src: url("../fonts/Inter/Inter-Medium.ttf");
}
@font-face {
  font-family: "InterLight";
  src: url("../fonts/Inter/Inter-Light.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.hambmenu {
  cursor: pointer;
}

.hamb-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  background: rgba(209, 157, 108, 0.705);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: 0.5s;
  z-index: 9999;
}
.hamb-buttons .hamb-buttons-btn {
  color: white;
  text-decoration: none;
  padding: 20px 0;
  font-size: 20px;
  font-family: RalewayMedium;
}

nav {
  padding: 20px 20px;
  max-width: 93%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2352354;
  background-color: white;
}
nav .nav-left {
  display: flex;
  gap: 240px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 12;
}
nav .nav-left .nav-left-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-left .fa-twitch {
  transition: 0.5s;
  font-size: 30px;
}
nav .nav-left .fa-twitch:hover {
  color: blue;
}
nav .nav-right {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
nav .nav-right .nav-right-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: InterMedium;
  gap: 5px;
}
nav .nav-right .nav-right-lang .nav-right-lang-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}
nav .nav-right .nav-right-lang .nav-right-lang-img .lang-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
nav .nav-right .nav-right-lang .nav-right-lang-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  cursor: pointer;
}
nav .nav-right .nav-right-lang .nav-right-lang-select .langs {
  position: absolute;
  z-index: 99;
  top: 32px;
  justify-content: center;
  align-items: center;
  left: -40px;
  display: flex;
  gap: 15px;
  padding: 10px;
  flex-direction: column;
  width: 70px;
  background-color: #f1f5fd;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
nav .nav-right .nav-right-lang .nav-right-lang-select .lang-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-right .nav-right-lang:hover .langs {
  visibility: visible;
  opacity: 1;
}

.iconen {
  height: 30px;
  width: 30px;
}

.group-buttons {
  display: flex;
  font-weight: 100;
  gap: 40px;
}
.group-buttons .group-buttons-btn {
  text-decoration: none;
  font-family: RalewayMedium;
  transition: transform 0.2s ease-in-out;
}
.group-buttons .group-buttons-btn:hover {
  transform: translateY(-3px);
}

.playbox-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playbox-button .playbox-button-btn {
  background-color: #D19C6C;
  padding: 10px 24px;
  font-family: RalewayMedium;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  transition: all 0.1s ease-in;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.playbox-button .playbox-button-btn:active {
  transform: scale(0.98);
}

.header-content {
  width: 100%;
  background-image: url("../components/img/headerImg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.header-content .shadow {
  width: 100%;
  background-image: url("../components/img/headerShadow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-text {
  padding: 56px 0 0 109px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
.header-text .header-text-top {
  max-width: 700px;
}
.header-text .header-text-top h1 {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 48px;
}
.header-text .header-text-top h1 span {
  color: #D19C6C;
}
.header-text .header-text-middle {
  font-size: 24px;
  font-family: RalewayMedium;
  max-width: 438px;
  line-height: 34px;
  padding-top: 16px;
}
.header-text .header-text-bottom {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 45px;
}
.header-text .header-text-bottom .header-text-bottom-img {
  cursor: pointer;
  transition: 0.2s;
}
.header-text .header-text-bottom .header-text-bottom-img:hover {
  transform: translateY(-5px);
}
.header-text .header-text-bottom .header-text-bottom-img:nth-child(4) {
  margin-left: -10px;
}
.header-text .header-text-bottom-button {
  display: flex;
  justify-content: start;
  padding-top: 44px;
  padding-bottom: 56px;
}

.section-one {
  width: 100%;
  position: relative;
  z-index: 43;
}
.section-one .ball1 {
  position: absolute;
  left: 0;
  bottom: -50px;
}
.section-one .ball2 {
  position: absolute;
  right: 0;
  top: 100px;
}
.section-one .section-one-container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 45px;
  padding: 0 10px;
  align-items: center;
}
.section-one .section-one-container .sectionOne2img {
  display: flex;
  position: relative;
  gap: 9px;
}
.section-one .section-one-container .sectionOne2img .plus {
  width: 100px;
  height: 100px;
  background-color: #D19C6C;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 128px;
  font-family: RalewayMedium;
  border-radius: 10px;
  position: absolute;
  right: -17px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.section-title-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section-title-text .section-title {
  color: #D19C6C;
  font-size: 36px;
  line-height: 61px;
  font-family: "Noto Sans";
}
.section-title-text .section--text {
  max-width: 410px;
  font-size: 24px;
  line-height: 34px;
  font-family: RalewayMedium;
}

.section-two {
  width: 100%;
}
.section-two .section-two-container {
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.section-two .section-two-container .section-two-container-left {
  padding-top: 0px;
}
.section-two .section-two-container .section-two-container-right {
  position: relative;
}
.section-two .section-two-container .section-two-container-right .img-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.section-two .section-two-container .section-two-container-right .section-two-img {
  height: 434px;
  width: 288.53px;
  margin-right: 120px;
}

.section-three {
  width: 100%;
  position: relative;
}
.section-three .ball3 {
  position: absolute;
  right: 0px;
  top: -180px;
  z-index: -1;
}
.section-three .section-three-container {
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  margin-top: 34px;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.section-three .section-three-container .section-three-container-right {
  margin-right: 20px;
}
.section-three .section-three-container .section-three-container-left img {
  height: 430px;
  width: 440px;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-four {
  width: 100%;
  position: relative;
}
.section-four .ball4 {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: -1;
}
.section-four .section-four-container {
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: 40px;
}
.section-four .section-four-container .section-title-text .section-title {
  max-width: 555px;
}
.section-four .section-four-container .section-title-text .section--text {
  max-width: 430px;
}
.section-four .section-four-container .section-four-container-right {
  position: relative;
}
.section-four .section-four-container .section-four-container-right video {
  height: 438px;
  width: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7.18333px;
}
.section-four .section-four-container .section-four-container-right video::-webkit-media-controls {
  display: none !important;
}
.section-four .section-four-container .section-four-container-right .playbtn {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #D19C6C;
  border-radius: 50%;
  padding: 15px 10px 15px 15px;
  cursor: pointer;
}

.section-five {
  width: 100%;
  position: relative;
}
.section-five .ball5 {
  position: absolute;
  right: 0;
}
.section-five .section-five-container {
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}
.section-five .section-five-container .section-five-container-left img {
  box-shadow: 0px 0px 22.4479px rgba(90, 44, 2, 0.5);
  padding: 130px 20px;
}
.section-five .section-five-container .section-title-text .section-title {
  max-width: 442px;
  letter-spacing: -1px;
}
.section-five .section-five-container .section-title-text .section--text {
  max-width: 340px;
}

.gold-text {
  color: #D19C6C;
}

footer {
  width: 100%;
  background-color: #1B1B1B;
  height: 150px;
  margin-top: 30px;
  position: relative;
}
footer .footer-container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
footer .footer-container .footer-container-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
footer .footer-container .footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
}
footer .footer-container .footer-logo-container .footer-logo-img {
  transition: 0.2s;
  cursor: pointer;
}
footer .footer-container .footer-logo-container .footer-logo-img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  background-color: #383838;
  color: white;
  padding: 17px 0;
  font-size: 17px;
  line-height: 21px;
  width: 100%;
  text-align: center;
  font-family: InterLight;
}

@media screen and (max-width: 1084px) {
  nav .nav-left {
    gap: 150px;
  }
  .section-one .section-one-container {
    max-width: 900px;
    padding: 0 10px;
  }
  .section-one .section-one-container .section-one-left .sectionOne2img img {
    height: 362px;
  }
  .section-one .section-one-container .section-one-left .sectionOne2img .plus {
    width: 60px;
    height: 60px;
    font-size: 96px;
  }
  .section-two .section-two-container {
    max-width: 900px;
  }
  .section-two .section-two-container .section-two-container-right .section-two-img {
    margin-right: 100px;
    height: 358px;
    width: 241.29px;
  }
  .section-three .section-three-container {
    max-width: 900px;
  }
  .section-three .section-three-container .section-title-text {
    margin-left: 130px;
  }
  .section-three .section-three-container .section-three-container-left img {
    height: 358px;
    width: 365px;
  }
  .section-four .section-four-container {
    max-width: 900px;
    overflow: hidden;
  }
  .section-four .section-four-container .section-title-text .section--text {
    max-width: 360px;
  }
  .section-four .section-four-container .section-four-container-right video {
    height: 358px;
    width: 350px;
    margin-right: 40px;
  }
  .section-four .section-four-container .section-four-container-right .playbtn {
    left: 45%;
  }
  .section-five .section-five-container {
    max-width: 900px;
  }
  .section-five .section-five-container .section--text {
    padding-right: 50px;
  }
  .section-five .section-five-container .section-five-container-left img {
    padding: 112.66px 20px;
  }
  .section-title-text {
    gap: 5px;
  }
  .section-title-text .section-title {
    font-size: 28px;
  }
  .section-title-text .section--text {
    font-size: 20px;
  }
  .section-five-container-left img {
    width: 450px;
  }
  .section-four-container-right img {
    width: 390px;
  }
  .section-three-container .section-title-text {
    margin-left: 120px;
  }
  .section-three-container-left img {
    width: 400px;
  }
  .section-two-container-right img {
    width: 360px;
  }
}
@media screen and (max-width: 991px) {
  nav {
    padding: 20px 0;
  }
  nav .nav-left {
    gap: 70px;
  }
  nav .nav-left .logo {
    margin-left: 20px;
  }
  nav .nav-right {
    padding-right: 10px;
  }
  .header-content {
    background-position: 80%;
  }
  .header-content .shadow {
    background-position: right;
    background-image: url("../components/img/headerShadow2.png");
  }
}
@media screen and (max-width: 920px) {
  .header-text {
    padding-left: 70px;
    max-width: 650px;
  }
  .header-text .header-text-top h1 {
    font-size: 38px;
  }
  .section-one .section-one-container {
    max-width: 820px;
    gap: 25px;
  }
  .section-one .section-one-container .section-title-text {
    padding-top: 14px;
    padding-bottom: 35px;
  }
  .section-one .section-one-container .section-title-text .section-title {
    font-size: 24px;
  }
  .section-two .section-two-container {
    max-width: 820px;
  }
  .section-two .section-two-container .section-title {
    font-size: 24px;
  }
  .section-two .section-two-container .section--text {
    padding-right: 70px;
  }
  .section-two .section-two-container .section-two-container-right .section-two-img {
    margin-right: 50px;
  }
  .section-three .section-three-container {
    max-width: 820px;
    gap: 50px;
  }
  .section-three .section-three-container .section-three-container-right {
    margin-right: 0;
  }
  .section-three .section-three-container .section-three-container-right .section-title-text {
    width: 100%;
    margin-left: 50px;
  }
  .section-three .section-three-container-left img {
    width: 350px;
  }
  .section-four .section-four-container {
    max-width: 820px;
  }
  .section-four .section-four-container .section-title-text .section-title {
    font-size: 24px;
  }
  .section-four .section-four-container .section-title-text .section--text {
    max-width: 420px;
  }
  .section-four .section-four-container .section-four-container-right video {
    width: 340px;
    margin-right: 0;
  }
  .section-four .section-four-container .section-four-container-right .playbtn {
    left: 50%;
  }
  .section-four .section-four-container .section--text {
    padding-right: 60px;
  }
  .section-five .section-five-container {
    max-width: 820px;
    gap: 20px;
  }
  .section-five .section-five-container .section--text {
    padding-right: 50px;
  }
  .section-five .section-five-container .section-title {
    font-size: 24px;
  }
}
@media screen and (max-width: 820px) {
  nav .nav-left {
    gap: 20px;
  }
  nav .nav-right {
    gap: 20px;
    padding-right: 20px;
  }
  .ball1 {
    display: none;
  }
  .section-one .section-one-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    gap: 0;
  }
  .section-one .section-one-container .sectionOne2img {
    gap: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .section-one .section-one-container .sectionOne2img img {
    max-width: 50%;
    height: auto;
  }
  .section-one .section-one-container .sectionOne2img .plus {
    width: 70px;
    height: 70px;
    font-size: 96px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  .section-one .section-one-container .section-title-text {
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 1px;
  }
  .section-one .section-one-container .section-title-text .section-title {
    font-size: 32px;
  }
  .section-one .section-one-container .section-one-left {
    width: 100%;
  }
  .section-one .section-one-container .section-one-left img {
    width: 100%;
    position: relative;
    z-index: 234;
  }
  .section-one .ball2 {
    height: 150px;
    top: 900px;
  }
  .section-two .section-two-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .section-two .section-two-container .section-two-container-right .section-two-img {
    margin-right: 0;
    height: 320px;
    width: 213.28px;
  }
  .section-two .section-two-container .section-title-text {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .section-two .section-two-container .section-title-text .section--text {
    padding: 0;
    text-align: center;
  }
  .section-two .section-two-container .section-title-text .section-title {
    font-size: 32px;
  }
  .section-three .ball3 {
    height: 150px;
    transform: rotate(180deg);
    left: 0;
    top: -100px;
  }
  .section-three .section-three-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .section-three .section-three-container .section-three-container-right {
    margin-right: 0;
  }
  .section-three .section-three-container .section-three-container-right .section-title-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .section-three .section-three-container .section-three-container-left {
    display: flex;
    justify-content: center;
  }
  .section-three .section-three-container .section-three-container-left img {
    width: 90%;
  }
  .section-four .ball4 {
    height: 150px;
    left: auto;
    right: 0;
    transform: rotate(180deg);
    top: -100px;
  }
  .section-four .section-four-container .section-four-container-right img {
    margin-right: 0;
  }
  .section-four .section-title-text .section-title {
    font-size: 32px;
  }
  .section-five .section-five-container .section-five-container-left img {
    padding: 90px 20px;
    height: 358px;
  }
  .section-five .ball5 {
    height: 100px;
    top: -100px;
    z-index: -9999;
  }
  .section-five .section-title-text .section-title {
    font-size: 32px;
  }
  nav .playbox-button .playbox-button-btn {
    padding: 10px;
    font-size: 14px;
  }
  .section-four-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .section-four-container .section-title-text {
    align-items: center;
  }
  .section-four-container .section-title-text .section--text {
    padding: 0;
    text-align: center;
  }
  .section-four-container .section-four-container-right {
    display: flex;
    justify-content: center;
  }
  .section-four-container .section-four-container-right img {
    width: 100%;
  }
  .section-four-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .section-four-container .section-title-text {
    align-items: center;
  }
  .section-four-container .section-title-text .section--text {
    padding: 0;
    text-align: center;
  }
  .section-four-container .section-four-container-right img {
    width: 90%;
  }
  .section-five .section-five-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
  }
  .section-five .section-five-container .section-title-text {
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .section-five .section-five-container .section-title-text .section--text {
    padding-right: 0;
    text-align: center;
    max-width: 310px;
  }
  .section-five .section-five-container .section-five-container-left {
    display: flex;
    justify-content: center;
  }
  .section-five .section-five-container .section-five-container-left img {
    width: 100%;
  }
  footer .footer-container .footer-logo-container {
    gap: 25px;
  }
  .header-content .shadow {
    background: linear-gradient(89.86deg, #FFFFFF 2.98%, rgba(255, 255, 255, 0.71) 60.52%, rgba(255, 255, 255, 0) 99.87%);
  }
  .header-text {
    padding-left: 20px;
    max-width: 600px;
  }
  .header-text .header-text-top {
    max-width: 500px;
  }
  .header-text .header-text-top h1 {
    font-size: 34px;
  }
  .header-text .header-text-middle {
    max-width: 340px;
  }
  .header-text .header-text-middle p {
    font-size: 18px;
  }
  .header-text .header-text-bottom {
    gap: 20px;
  }
  .header-text .header-text-bottom-button .playbox-button-btn {
    padding: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  nav {
    gap: 10px;
  }
  nav .nav-left {
    gap: 15px;
  }
  nav .nav-left .logo {
    margin-left: 5px;
  }
  nav .nav-left .nav-left-img img {
    height: 50px;
    width: 50px;
  }
  nav .nav-left .hambmenu {
    height: 15px;
  }
  .section-one .ball2 {
    top: 700px;
  }
  .section-one .section-one-container {
    margin-top: 10px;
    padding: 0;
  }
  .section-one .section-one-container .section-one-left .sectionOne2img .plus {
    width: 50px;
    height: 50px;
    font-size: 62px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  .section-one .section-one-container .section-one-left .sectionOne2img img {
    height: 336px;
  }
  .section-one .section-one-container .section-title-text {
    gap: 0;
  }
  .section-one .section-one-container .section-title-text .section-title {
    font-size: 24px;
  }
  .section-two .section-two-container .section-two-container-left .section-title-text {
    gap: 0;
  }
  .section-two .section-two-container .section-two-container-left .section-title-text .section-title {
    font-size: 24px;
  }
  .section-two .section-two-container .section-two-container-right .section-two-img {
    width: 198.39px;
    height: 298px;
  }
  .section-three .section-three-container {
    gap: 0;
  }
  .section-three .section-three-container .section-title-text {
    gap: 0;
  }
  .section-three .section-three-container .section-title-text .section-title {
    font-size: 24px;
  }
  .section-three .section-three-container .section-three-container-left img {
    height: 351px;
  }
  .section-four .section-four-container .section-title-text {
    gap: 0;
  }
  .section-four .section-four-container .section-title-text .section-title {
    font-size: 24px;
  }
  .section-four .section-four-container .section-four-container-right {
    width: 100%;
  }
  .section-four .section-four-container .section-four-container-right video {
    height: 336px;
    width: 320px;
  }
  .section-five .section-five-container .section-title-text {
    gap: 0;
  }
  .section-five .section-five-container .section-title-text .section-title {
    font-size: 24px;
  }
  .section-five .section-five-container .section-five-container-left img {
    height: 336px;
  }
  nav .playbox-button .playbox-button-btn {
    padding: 10px 5px;
  }
  nav .nav-right .nav-right-lang .nav-right-lang-img .lang-icon {
    height: 20px;
    width: 20px;
  }
  nav .nav-right {
    gap: 10px;
    padding-right: 5px;
  }
  .header-text {
    padding-left: 30px;
    padding-top: 26px;
    max-width: 390px;
  }
  .header-text .header-text-top {
    max-width: 420px;
  }
  .header-text .header-text-top h1 {
    font-size: 24px;
  }
  .header-text .header-text-middle {
    max-width: 330px;
  }
  .header-text .header-text-middle p {
    font-size: 17px;
    line-height: 20px;
  }
  .header-text .header-text-bottom {
    gap: 20px;
    padding-top: 25px;
  }
  .header-text .header-text-bottom .header-text-bottom-img {
    height: 50px;
  }
  .header-text .header-text-bottom-button {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-text .header-text-bottom-button .playbox-button {
    padding: 10px 5px;
  }
  footer .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-container .footer-container-left {
    width: 100%;
    justify-content: center;
  }
  footer .footer-container .footer-logo-container .footer-logo-img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 450px) {
  .section-one .ball2 {
    top: 500px;
  }
  .section-one .section-one-container {
    padding-top: 0;
    padding: 0;
  }
  .section-one .section-one-container .section-title-text {
    gap: 5px;
    padding-bottom: 35px;
  }
  .section-one .section-one-container .section-title-text .section-title {
    line-height: 40px;
  }
  .section-one .section-one-container .section-title-text .section--text {
    font-size: 14px;
  }
  .section-one .section-one-container .section-one-left .sectionOne2img img {
    height: 291px;
  }
  .section-two .section-two-container {
    padding-top: 0;
  }
  .section-two .section-two-container .section-two-container-right .section-two-img {
    height: 296px;
  }
  .section-two .section-two-container .section-title-text {
    gap: 5px;
    margin-bottom: 10px;
  }
  .section-two .section-two-container .section-title-text .section-title {
    line-height: 40px;
  }
  .section-two .section-two-container .section-title-text .section--text {
    font-size: 14px;
  }
  .section-three .section-three-container {
    padding-top: 0;
  }
  .section-three .section-three-container .section-three-container-left img {
    height: 330px;
  }
  .section-three .section-three-container .section-title-text {
    gap: 5px;
    margin-bottom: 10px;
  }
  .section-three .section-three-container .section-title-text .section-title {
    line-height: 40px;
  }
  .section-three .section-three-container .section-title-text .section--text {
    font-size: 14px;
  }
  .section-four .section-four-container {
    padding-top: 0;
  }
  .section-four .section-four-container .section-title-text {
    gap: 5px;
    margin-bottom: 10px;
  }
  .section-four .section-four-container .section-title-text .section-title {
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.5px;
  }
  .section-four .section-four-container .section-title-text .section--text {
    font-size: 14px;
    max-width: 350px;
  }
  .section-four .section-four-container .section-four-container-right video {
    width: 290px;
    height: 310px;
  }
  .section-five .section-five-container {
    padding-top: 0;
  }
  .section-five .section-five-container .section-five-container-left img {
    height: 295px;
    padding: 90px 15px;
  }
  .section-five .section-five-container .section-title-text {
    gap: 5px;
    margin-bottom: 10px;
  }
  .section-five .section-five-container .section-title-text .section-title {
    line-height: 40px;
  }
  .section-five .section-five-container .section-title-text .section--text {
    font-size: 14px;
    max-width: 210px;
  }
  .header-text {
    padding-left: 16px;
    padding-top: 23px;
    max-width: 330px;
  }
  .header-text .header-text-top {
    max-width: 330px;
  }
  .header-text .header-text-top h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .header-text .header-text-middle {
    max-width: 300px;
  }
  .header-text .header-text-middle p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .header-text .header-text-bottom {
    padding-top: 18px;
    gap: 20px;
  }
  .header-text .header-text-bottom .header-text-bottom-img {
    height: 50px;
    width: 45px;
  }
  .section--text {
    line-height: 20px !important;
  }
  footer .footer-container-left {
    gap: 50px;
  }
}
@media screen and (max-width: 375px) {
  nav .playbox-button .playbox-button-btn {
    font-size: 12px;
  }
  .header-text {
    padding-left: 16px;
    padding-top: 23px;
    max-width: 290px;
  }
  .header-text .header-text-top {
    max-width: 290px;
  }
  .header-text .header-text-top h1 {
    font-size: 18px;
    line-height: 30px;
  }
  .header-text .header-text-middle {
    max-width: 230px;
  }
  .header-text .header-text-middle p {
    font-size: 12px;
    line-height: 17px;
  }
  .header-text .header-text-bottom {
    padding-top: 18px;
    gap: 20px;
  }
  .header-text .header-text-bottom .header-text-bottom-img {
    height: 40px;
    width: 35px;
  }
  .header-text .header-text-bottom-button .playbox-button-btn {
    font-size: 12px;
  }
  .section-one .section-one-container .section-one-left .sectionOne2img .plus {
    width: 40px;
    height: 40px;
    font-size: 52px;
  }
  .section-one .section-one-container .section-one-left .sectionOne2img img {
    height: 254px;
  }
  .section-one .section-one-container .section-title-text {
    padding-bottom: 32px;
    gap: 0;
  }
  .section-one .section-one-container .section-title-text .section-title {
    font-size: 20px;
  }
  .section-two .section-two-container .section-two-container-left .section-title-text {
    gap: 0;
  }
  .section-two .section-two-container .section-two-container-left .section-title-text .section-title {
    font-size: 20px;
  }
  .section-three .section-three-container .section-title-text {
    gap: 0;
  }
  .section-three .section-three-container .section-title-text .section-title {
    font-size: 20px;
  }
  .section-four .section-four-container .section-title-text {
    gap: 0;
  }
  .section-four .section-four-container .section-title-text .section-title {
    font-size: 20px;
  }
  .section-four .section-four-container .section-four-container-right video {
    height: 270px;
    width: 255px;
  }
  .section-five .section-five-container .section-title-text {
    gap: 0;
  }
  .section-five .section-five-container .section-title-text .section-title {
    font-size: 20px;
  }
  .section-five .section-five-container .section-five-container-left img {
    padding: 20px;
  }
  .section-two .section-two-container .section-two-container-right .section-two-img {
    width: 170px;
    height: 251px;
  }
  .section-three .section-three-container .section-three-container-left img {
    height: 290px;
  }
  .section-four .section-four-container .section-four-container-right img {
    height: 270px;
  }
  .section-five .section-five-container .section-five-container-left img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 255px;
  }
  footer .footer-container-left {
    gap: 10px;
  }
}
@media screen and (max-width: 330px) {
  nav .nav-left {
    gap: 4px;
  }
  .section-one .section-one-container .section-title-text {
    max-width: 300px;
  }
  .section-three .section-three-container .section-three-container-left img {
    height: 270px;
  }
}/*# sourceMappingURL=style.css.map */